h1 {
  color: red;
}

table {
    border: 3px solid #B52427;
    background-color: #C2B9C6;
    color: #444088;
}

td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

th {
  height: 50px;
}

th, td {
    padding: 15px;
    text-align: center;
}

.redBackground {
  background-color: red;
}

input {
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
}
